body {
   background: rgb(85,81,156);
   background: linear-gradient(180deg, rgba(85,81,156,1) 0%, rgba(65,65,191,1) 30%, rgba(152,215,228,1) 100%);
}

.list-group{
   width:  800px;
   margin:auto;
   text-align: center;
}

.medio{
   width:  230px;

}
.table {
   margin:auto;
   text-align: center;   
   width:  900px;
 }

 .h1{
    font-size: 24px;
    margin:auto;
    align-items: center;
    justify-content: center;
    display: flex;
 }

 /*.logo{
   width:  250px;
   height: 250px;
   justify-content: center;
   align-items: center;
   display: flex;*/
}
 
.imagen_footer{
   width:  400px;
   height: 250px;
   max-width: 60%;
   justify-content: center;
   align-items: center;
   display: flex;
   margin: 0 auto;
   opacity: 50%;
}

table th {
   text-align: center; 
}

.a-logo {
   display: block;
   margin-left: 550px;
   margin-right: 100px;
   width: 50%;
}

.a-logo2 {
   display: block;
   margin-left: 490px;
   margin-right: 100px;
   max-width: 100%;
   
}

